.default {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 100px;

  &__main {
    border: 1px solid blue;
  }

  &__header {
    border: 1px solid yellow;
  }

  &__footer {
    border: 1px solid green;
  }
}